<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Saber frame00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{0,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{391,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{782,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1173,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1564,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{0,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{391,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{782,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1173,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1564,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShaderAnimation.png</string>
            <key>size</key>
            <string>{1955,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:debbfd4fddce8c48413cad9acd340cfe:965dad05b407ba57ab2e9db6ca4c91f3:e39df001e74cf09756a61a3d466d2fbc$</string>
            <key>textureFileName</key>
            <string>ShaderAnimation.png</string>
        </dict>
    </dict>
</plist>
