<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Saber frame20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{0,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{391,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{782,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1173,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1564,0},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{0,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{391,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{782,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1173,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Saber frame29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,770}</string>
                <key>spriteSourceSize</key>
                <string>{391,770}</string>
                <key>textureRect</key>
                <string>{{1564,770},{391,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShaderAnimationTwo.png</string>
            <key>size</key>
            <string>{1955,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09308a95eb3e3df56f8c7c5ec6bc7c58:d6efd35b559f4e692d840883b3700058:5a897f896836ac5bfd39b335ad59e5c5$</string>
            <key>textureFileName</key>
            <string>ShaderAnimationTwo.png</string>
        </dict>
    </dict>
</plist>
